body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}
a{
	text-decoration: none;
}
.head{
	background: #fff;
	height: 30px;
	
}
header{
	background: url('../img/header.jpg') no-repeat center top / cover;
	height: 110px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.span{
	text-align: center;
	padding-top: 15px;
	font-size: 22px;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;	
}
.nav{
	text-align: center;
	margin-top: 10px;
}
.tur{
	color: #fff;

}

.text_o{
	text-align: center;
	margin-top: 20px;
}
.o_program .o1{
	width: 132px;
	margin-left: 10px;
	margin-top: 20px;
	float: left;
}
.o_program .o2{
	width: 132px;
	margin-right: 10px;
	margin-top: 20px;
	float: right;
}
.t1{
	float: right;
	width: 145px;
	margin-left: 10px;
	padding-top: 5px;
	margin-right: 5px;
}
.t2{
	float: left;
	width: 145px;
	margin-left: 15px;
	padding-top: 20px;
}